:root {
	--color-1: #84d600;
	--color-2: #0d19a3;
	--color-3: #008ef4;
	--color-4: #00e586;
	--color-5: #3d4543;
	--color-6: #cfd2d3;

	--txt-parrafo: #282828;

	--bg-btn-blanco: #ffffff;
	--bg-btn-verde: #84d600;
	--txt-btn-gris: #3d4543;
	--txt-btn-blanco: #ffffff;
	--txt-blanco: #ffffff;
	--border-btn_blanco: #ffffff;
}
* {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--txt-parrafo);
}
html {
	scroll-behavior: smooth;
}

body {
	background: #fafafa;
}

header {
	width: 100%;
	background-color: var(--color-5);
	position: fixed;
	z-index: 10;
	.center {
		padding: 0 20px;
	}
}
.header {
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 0px;
	box-sizing: border-box;
}
.main_navbar {
	width: 100%;
	max-width: 500px;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-items: center;
		gap: 0px;
		list-style: none;
		a {
			text-decoration: none;
			color: var(--txt-btn-blanco);
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 8px 20px;
			box-sizing: border-box;
			border: 1px solid var(--border-btn_blanco);
			width: 100%;
			transition: 300ms ease;
            font-weight: 600;
			&:hover {
				background-color: var(--color-1);
			}
			span {
				color: var(--txt-btn-blanco);
				font-weight: 300 !important;
			}
            .txt_nb{
                font-weight: 400!important
                ;
            }
		}
	}
	li:first-child {
		a {
			border-radius: 100px 0 0 100px;
			border-right: 0px;
		}
	}
	li:last-child {
		a {
			border-radius: 0 100px 100px 0;
			border-left: 0px;
		}
	}
}
.center {
	width: 100%;
	max-width: 1200px;
	display: block;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}
.main_logo {
	display: inline-block;
}

#logo-apex {
	max-width: 120px;
	height: 36px;
}

footer {
	background-color: var(--color-5);
	padding: 30px 0 0;
	box-sizing: border-box;
	h1 {
		font-size: 15px;
		font-weight: 300;
		max-width: 500px;
		text-align: center;
		color: var(--txt-blanco);
		line-height: 1.3;
		margin: 20px 0 40px;
	}
}
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	picture {
		display: inline-block;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.btn {
	width: max-content;
	text-decoration: none;
	padding: 8px 24px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	font-weight: 600;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: 300ms ease-out;
	&.verde {
		position: relative;
		color: var(--txt-btn-blanco);
		background-color: var(--bg-btn-verde);
	}
	&:hover {
		box-shadow: 0 9px 20px -10px #84d600;
	}
	&.sm {
		padding: 4px 24px;
	}
}

.sub_footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border-top: 1px solid #545656;
	margin: 20px 0 0;
	padding: 20px 0 0;
	box-sizing: border-box;
	h5 {
		color: var(--txt-blanco);
		font-size: 15px;
		margin: 0;
	}
}
.redes_footer {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0;
	box-sizing: border-box;
}
.red_footer {
	width: 30px;
	height: 30px;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border: 1px solid var(--color-1);
	overflow: hidden;
	position: relative;
	transition: 300ms ease;
	span {
		position: relative;
		z-index: 1;
		color: var(--color-1);
		transition: 300ms ease;
	}
	&::before {
		content: "";
		position: absolute;
		width: 33px;
		height: 33px;
		top: 100%;
		border-radius: 100px;
		background-color: var(--color-1);
		transition: 300ms ease;
	}
	&:hover {
		border: 1px solid var(--color-5);
		span {
			color: var(--txt-btn-blanco);
		}
		&::before {
			top: 0%;
		}
	}
}

.modal_form {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 20;
}
.dark_bg {
	width: 100%;
	position: absolute;
	z-index: 1;
	height: 100%;
	background: #303243c7;
	background-blend-mode: multiply;
	display: inline-block;
}
.container_form {
	width: 100%;
	max-width: 370px;
	min-height: 200px;
	background: linear-gradient(180deg, #ededed 0%, #ffffff 100%);
	border: 3px solid #ededed;
	border-radius: 30px;
	position: relative;
	z-index: 1;
	padding: 16px 36px 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hero {
	background-color: #f5f5f9;
	position: relative;
	min-height: 590px;
	overflow: hidden;
	display: flex;
	align-items: center;
	&::before {
		content: "";
		position: absolute;
		background: url("../images/bg_header1.png") no-repeat center;
		background-size: contain;
		width: 149px;
		height: 498px;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
.col_hero {
	max-width: 480px;
	transform: translateY(-40px);
    position: relative;
    z-index: 1;
	div {
		margin: 10px 0 20px;
	}
}
.img_hero {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 800px;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.c_hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.col_hero .tit_section {
	font-size: 60px;
	text-align: left;
	line-height: 1;
}

.tit_section {
	font-size: 44px;
	font-weight: 800;
	text-align: center;
	margin: 20px 0;
	color: var(--txt-parrafo);
}


.s_nosotros {
	mask-image: url("../images/mask.svg");
	mask-repeat: no-repeat;
	mask-size: cover;
	mask-position: top;
	position: relative;
	z-index: 1;
	margin: -90px 0 0;
	width: 100%;
	background: url("../images/bg_img.jpg") no-repeat center;
	background-size: cover;
	padding: 40px 0 90px;
	box-sizing: border-box;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			94.72deg,
			#5ed141e8 -14.21%,
			#41aa27e8 11.99%,
			#0d19a3e8 79.16%,
			#061080e8 114.76%
		);
		background-size: cover;
		inset: 0;
	}

}

.c_nosotros {
	position: relative;
	z-index: 2;
	padding: 40px 0;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	.tit_section {
		color: var(--txt-blanco);
	}
	.txt_desc {
		color: var(--txt-blanco);
		text-align: center;
	}
}
.tag {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	background: rgba(252, 254, 255, 0.21);
	border-radius: 100px;
	padding: 4px 10px;
	box-sizing: border-box;
	color: var(--txt-blanco);
	width: fit-content;
	margin: 0 0 10px;
	&.c1 {
		background: #f3efe3;
		color: var(--txt-btn-gris);
	}
	&.c2 {
		background: #e3eff3;
		color: var(--txt-btn-gris);
	}
	&.c3 {
		background: #e3eff3;
		color: var(--txt-btn-gris);
	}
	&.c4 {
		background: #f3e3e6;
		color: var(--txt-btn-gris);
	}
	&.c5 {
		background: #e7e7f5;
		color: var(--txt-btn-gris);
	}
}

.spacer {
	display: block;
	width: 100%;
	height: 50px;
}

.c_servicios {
	background: #fff;
	box-shadow: 0px 7px 81px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	transform: translateY(-90px);
	position: relative;
	z-index: 1;
	padding: 60px 100px;
	box-sizing: border-box;
	.tit_section {
		margin: 0 0 60px;
	}
}

.services {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	align-items: center;
	justify-items: center;
	margin: 0 0 40px;
	&.col-rtl {
		.desc_serv {
			order: 1;
		}
		.img_serv {
			order: 2;
		}
	}
}

.img_serv {
	display: inline-block;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.tit_serv {
	font-size: 36px;
	font-weight: 700;
	text-align: left;
	margin: 10px 0;
	color: #282828;
}
.subtit_serv {
	margin: 0 0 10px;
	font-size: 20px;
	text-align: left;
	color: #282828;
}
.txt_serv {
	font-size: 15px;
	line-height: 1.2;
	margin: 0 0 20px;
}

.s_beneficios{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 191px;
        height: 498px;
        background: url('../images/bg_bene2.png') no-repeat left;
        background-size: contain;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    &::after{
        content: '';
        position: absolute;
        width: 191px;
        height: 498px;
        background: url('../images/bg_bene1.png') no-repeat right;
        background-size: contain;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}

.c_beneficios {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 380px);
    gap: 50px;
    position: relative;
    z-index: 1;
}
.col_bene{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .card{
        background: #FFFFFF;
        box-shadow: 0px 14px 37px -13px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        padding: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        justify-content: flex-start;
        h4{
            font-size: 18px;
            margin: 10px 0;
        }
        picture{
            display: inline-block;
            img{
                width: 50px;
                height: 50px;
                object-fit: contain;
            }
        }
        &:nth-child(2n+1){
            transform: translateY(-60px);
        }
        div{
            color: #555555;
        }

    }
}

.col_desc_bene{
    align-self: center;
    .tit_section{
        text-align: left;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	position: relative;
	background: transparent;
	opacity: .8;
	&::before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: #FAFAFA;
		mix-blend-mode: color;
	}
}

button{
	cursor: pointer;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
    background-color: #FAFAFA;
    padding: 10px;
    box-sizing: border-box;
}

.slider_logos{
    position: relative;
    padding: 0 40px;
    box-sizing: border-box;
}

.swiper-button-next, .swiper-button-prev{
    background-color: var(--bg-btn-verde);
    border-radius: 100px;
    width: 30px;
    height: 30px;
    &:after{
        font-weight: 800;
        font-size: 16px;
        color: var(--txt-btn-blanco);
    }
}

.modal_form{
	padding: 30px;
	box-sizing: border-box;
}

.cont_input{
	margin: 0 0 10px;
	input, textarea{
		width: 95%;
		background: #FFFFFF;
		border: 1px solid #D3D3D3;
		border-radius: 6px;
		font-size: 15px;
		padding: 8px 10px;
		outline: 0;
		display: inline-block;
	}
	textarea{
		max-height: 90px;
	}
}

.cont_check{
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 0 0 20px;
	input, label{
		cursor: pointer;
	}
	
}

.cont_submit{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	position: relative;
	.submit{
		outline: 0;
		border:0;
		display: flex;
		gap: 10px;
		align-items: baseline;
		span{
			color: #FFF;
		}
	}
}

.st0{fill:#F26E8A;}
.st1{fill:#E6EBE0;}
.st2{fill:#CBCCCA;}
.st3{fill:#3D5D78;}
.st4{fill:#259CC5;}

#mail-icon{
	width: 90px;
}

.form{
	width: 100%;
	padding: 30px 0 0;
}


/* CHECK BUTTON FORM ENVIAR */

.check-box{
    width: 32px;
    height: 32px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.check-box svg{
    width: 30px;
    margin: 0px;
}

#btnText{
	margin: 0;
}

#submit_form{
	position: relative;
	height: 40px;
	display: flex;
	align-items: center;
}

#submit_form svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 64;
    stroke-dashoffset: 64;
    stroke-linecap: round;
}

#submit_form.active{
    transition: 1s;
}

#submit_form.active .check-box{
    right: 5px;
    opacity: 1;
    transition: 1s;
	top: 4px;
}

#submit_form.active #btnText{
    margin-right: 30px;
    transition: 1s;
}

#submit_form.active svg path{
    stroke-dashoffset: 0px;
    transition: 1s;
    transition-delay: 1s;
}

@media screen and (max-width: 1200px) {
    .img_hero{
        max-width: 600px;
    }
    .hero{
        min-height: 510px;
    }
}
@media screen and (max-width: 1050px) {
    .c_servicios{
        padding: 20px;
    }
    .c_beneficios{
        grid-template-columns: 1fr;
    }
    .col_desc_bene{
        order: 1;
        margin: 0 0 60px;
    }
    .col_bene{
        order: 2;
    }
    .img_hero{
        max-width: 440px;
    }
    .hero {
        min-height: 390px;
    }
    .col_hero{
        max-width: 400px;
    }
    .col_hero .tit_section{
        font-size: 40px;
    }
}
@media screen and (max-width: 768px) {
	.main_navbar .txt_nb {
		display: none;
	}
	.main_navbar ul {
		justify-content: flex-end;
	}
	.main_navbar li:first-child a {
		border-right: 1px solid;
	}
	.main_navbar li:last-child a {
		border-left: 1px solid;
	}
    .services{
        grid-template-columns: 1fr;
    }
    .services.col-rtl .img_serv{
        order: 1;
    }
    .col_bene{
        grid-template-columns: 1fr;
    }
    .col_bene .card:nth-child(2n+1){
        transform: translateY(0px);
        padding: 20px;
    }
    .col_desc_bene{
        margin: 0 0 0px;
    }
    .c_beneficios{
        gap: 20px;
    }
    .tit_section{
        font-size: 36px;
    }
    .tit_serv{
        font-size: 30px;
    }
    .subtit_serv{
        font-size: 18px;
    }
    .img_hero {
        max-width: 440px;
    }
    .img_hero {
        max-width: initial;
        position: relative;
        max-height: 240px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .hero {
        min-height: 390px;
        min-height: initial;
        .center{
            padding: 0;
        }
    }
    .s_nosotros{
        margin: -10px 0 0;
    }
    .c_hero{
        flex-direction: column-reverse;
        padding: 0 0 60px;
    }
    .col_hero{
        transform: translateY(0px);
        max-width: initial;
        padding: 20px;
        box-sizing: border-box;
    }
    .col_hero .tit_section{
        margin:0 0 20px
    }
}
@media screen and (max-width: 480px) {
	footer h1 {
		font-size: 13px;
	}
	.sub_footer {
		flex-direction: column;
	}
    .col_bene .card div{
        font-size: 15px;
        line-height: 1.3;
    }
    .img_hero {
        max-width: 440px;
    }
    .img_hero {
        max-height: 150px;
        max-width: initial;
    }
    .img_hero img{
        object-fit: cover;
    }
}

@media screen and (max-width: 390px){
    .c_nosotros .tit_section{
        text-align: left;
        margin: 10px 0 20px;
    }
    .c_nosotros .txt_desc{
        text-align: left;
    }
    .c_nosotros{
        align-items: flex-start;
    }
	.container_form{
		padding: 20px;
	}
}
